starter-template {
	marging: 3 em;
}
/*----------------------- Preloader -----------------------*/
body.preloader-site {
	overflow: hidden;
}

.preloader-wrapper {
	height: 100%;
	width: 100%;
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

.preloader-wrapper .preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 120px;
}
/*----------------------- Cover gradient background -----------------------*/
.cover-home {
	background: #1CB5E0;
	background: linear-gradient(150deg, #1CB5E0 35%, #000851 100%);
	height: 100vh;
}

.cover-home1 {
	background: #92FE9D;
	background: linear-gradient(150deg, #00C9FF 0%, #92FE9D 100%);
	height: 100vh;
}

.cover-home2 {
	height: 100vh;
	background: rgb(0, 202, 76);
	background: linear-gradient(145deg, rgba(0, 202, 76, 1) 38%,
	rgba(0, 255, 216, 0.5) 100%);
}

.img-responsive{
	object-fit: cover;
  	height: 200px;
	width:100%;
}
.img-profile-responsive{
		object-fit: cover;
  	height: 250px;
	width:22%;
}
.img-mini {
    border-radius: 50%;
    position: relative;
    height: 45px;
    width: 45px;
    overflow: hidden;
   
    float: left;
    margin-right: 10px;
}

.img-mini.hor img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 45px;
    transform: translateX(-50%);
 }

.box{
	padding: 3em;
    border-color: #f3f3f3;
    background-color: rgba(255, 255, 255, 0.93);
    border-style: solid;
    border-width: medium;
    border-radius: 15px
}
.tableBox{
	margin:0.5em;
	padding: 1em;
    border-color: #00CA4D;
    background-color: rgba(255, 255, 255, 0.93);
    border-style: solid;
    border-width: thin;
    border-radius: 15px
}
.gradient {
	background: #92FE9D;
	padding:1em;
	background: linear-gradient(150deg, #00C9FF 0%, #92FE9D 100%);
}

.gradient-profile{
	background: #92FE9D;
	padding-top:1em;
	padding-right:1em;
	
	background: linear-gradient(45deg, #92FE9D 0%, #00C9FF 100%);
}
.hide{
	visibility: hidden;
}

/*----------*/